body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 20px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: blanchedalmond;
    background-color: chartreuse;
    padding: 10px 30px;
    border-radius: 9px;
    font-weight: 700;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.resume {
    text-decoration: none;
    background-image: linear-gradient(violet, brown);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 30px;
}

.widthchange img {
    width: 100%;
    padding-left: ;
    padding-right: 10%;
    padding-bottom: ;
    padding-top: ;
}

.widthchange {
    width: 50%;
    padding-right: 2%;
}

.banner {
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-position: right;
}